<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="6a0139c8-2b39-4e84-91c0-1d6d095f18a5" name="Sample Test">
  <con:settings id="fc5527d1-6933-400b-b0f2-1e5f1aadf659">
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="6a0139c8-2b39-4e84-91c0-1d6d095f18a5fileName">Sample-Test</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="0b8d3a4f-c3e9-4b20-a2f1-1acce3376ae1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
